@import "tailwindcss";

@theme {
  --color-club-bg: #ecebe1;
  --color-club-surface: #ffffff;
  --color-club-primary: #b0bf3f;
  --color-club-primary-hover: #9da833;
  --color-club-accent: #172010;
  --color-text-main: #232d16;
  --color-text-muted: #6b7562;
  --color-btn-text: #0e1608;

  --color-brand-blue: #4a7c9f;
  --color-brand-blue-light: #a0c3d9;
  --color-brand-yellow: #e4be36;
  --color-brand-green-dark: #3a4714;

  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-club-bg);
    color: var(--color-text-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}